.explore-Menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-Menu h1{
    font-size: 2vw;
    font-weight: 600;
    color: #262626;
}
.explore-Menu-text{
    max-width:  60%;
    color: #808080;

}

.exploreMenu-list{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll;

}